*{
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
}
html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;         
    background: #000000;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;               
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0.5vh 0 0.5vh;     
}
main h4{
    color: aliceblue;
    font-size: 3em;
    text-align: center;
    cursor: pointer;
}
main h4:hover{
    font-size: 3.01em;
    text-shadow: 0px 10px 30px rgba(255, 255, 255, 0.8);
}
main iframe{
    filter: url(#blur-and-saturate); /* Apply the SVG filter */
    border-radius: 10px;
    width: 50vw;
    height: 28.125vw;
}
main .navi{
    width: 10vw;
    display: flex;
    justify-content: space-between;
    margin-top: 2vh;
    align-items: center;
    z-index: 10;
}
.navi button{
    padding: 2vh 1.15vw;
    border-radius: 50%;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #8c8c8c;
    color: none;
    text-decoration: none;
}
#btn-toggle-play{
    padding: 2vh 1.3vw;
}
.navi button:hover{
    background-color: #f5f5f5;
    color: none;
}
.navi .fa-solid{
    font-size: 1em;
    cursor: pointer;
    color: #000000;
}
.para{
    padding: 20px 50px;  
}
.para p{
    font-size: 1em;
    color: aliceblue;
}
@media only screen and (max-width: 600px){
    main h4{
        font-size: 2em;
    }
    main h4:hover{
        font-size: 2.01em;
    }
    main .navi{
        width: 40vw;
        margin-top: 2vh;
    }
    .navi button{
        padding: 3vw 4vw;
    }
    #btn-toggle-play{
        padding: 3vw 4.4vw;
    }
    .para{
        padding: 20px 30px;  
    }
    main iframe{
        width: 90vw;
        height: 50.625vw;
    }
}