*{
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
}
html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;         
    background: #000000;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;               
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0.5vh 0 0.5vh;     
}
main h4{
    color: aliceblue;
    font-size: 3em;
    text-align: center;
    cursor: pointer;
}
main h4:hover{
    font-size: 3.01em;
    text-shadow: 0px 10px 30px rgba(255, 255, 255, 0.8);
}
main iframe{
    filter: url(#blur-and-saturate); /* Apply the SVG filter */
    border-radius: 10px;
    width: 50vw;
    height: 28.125vw;
}
main .navi{
    margin-top: 2vh;
    z-index: 10;
}
.navi button{
    padding: 15px;
    border-radius: 50%;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #8c8c8c;
    color: none;
    width: 50px;
    height: 50px;
    text-decoration: none;
}
.navi button:hover{
    background-color: #f5f5f5;
    color: none;
}
.navi {
    cursor: pointer;
    color: #000000;
}

.navi button i {
	font-size: 1.5em;
}

.previous-btn-icon, .next-btn-icon {
	padding: 0 1.25px;
}

.pause-btn-icon {
	padding: 0 3.75px;
}

.para{
    padding: 20px 50px;  
}
.para p{
    font-size: 1em;
    color: aliceblue;
}
@media only screen and (max-width: 600px){
    main h4{
        font-size: 1.8em;
    }
    main h4:hover{
        font-size: 1.81em;
    }
    .para{
        padding: 20px 30px;  
    }
    main iframe{
        width: 90vw;
        height: 50.625vw;
    }
}